.sql
*.pyc
*.gdx
*.flat
!db_schema.sql
!db_config.sql.gz
!db_schema_w_test_data.sql
!db_schema_w_test_data.sql.gz
*.csv.gz
*.csv
bin/versions.sh
version.log
config/db-connection*
config/config*
config/config.js
config/db_vamps_node.sql.gz
config/old/*
mothur.*.logfile
work/*
.ipynb_checkpoints
.DS_Store
__pycache__

# keeping empty dirs
logs/*
!logs/.gitignore
tmp/*
!tmp/.gitignore
