.sql
*.fa
*.fna
*.fasta
.vagrant
public/scripts/*.pyc
old_2_new_vamps_by_project.py
rebuild_vamps_files.py
metadata_files_synchrony.py
export_project.sh
*.pyc
!db_schema.sql
!db_config.sql.gz
!db_schema_w_test_data.sql
!db_schema_w_test_data.sql.gz
*.csv.gz
*.csv
newrelic.js
bin/versions.sh
version.log
config/db-connection*
config/config*
config/config.js
config/db_vamps_node.sql.gz
config/old/*

/work/*

# keeping empty dirs
logs/*
!logs/.gitignore
tmp/*
!tmp/.gitignore
